body {
  background-color: paleturquoise;
  margin: 0;
}
.container {
  height: 100dvh;
  display: flex;
  flex-direction: column;
}
.nav {
  background-color: aliceblue;
  text-align: center;
  padding: 1rem;
}
.main-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.board {
  background-color: black;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;
}
.block {
  width: 10rem;
  height: 10rem;
  background-color: purple;
}
.footer {
  background-color: grey;
  width: 100%;
  height: 100px;
}
